*,
*::before,
*::after {
  box-sizing: inherit;
}

// Breakpoints
// $bp-medium: 53.125em; // 850px
$bp-medium: 57.3125em; // 917px
$bp-small: 40.3125em; // 645px

html {
  font-size: 62.5%; // 62.% = 10px
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Arial, Helvetica, sans-serif;
  font-weight: 400;
  box-sizing: border-box;

  &.scroll-lock {
    overflow: hidden;
  }
}

.content {
  padding: 0 13.5%;
  margin-top: 5rem;

  @media only screen and (max-width: $bp-small) {
    padding-left: 5.5%;
    padding-right: 5.5%;
  }

  & hr {
    margin: 4rem 0;
    border: none;
    height: 1px;
    background-color: #e6e6e6;
  }
}

.button {
  color: white;
  background-color: $dark-grey-2;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: normal;
  text-transform: uppercase;
  border-radius: 3px;
  box-shadow: 0 2px 0 0 #1f1f1f;
  padding: 1.3rem 2.6rem;
  text-align: center;
  cursor: pointer;
  margin: 1.7rem;
  height: auto;
  border-width: 0;
  border: 3px solid $dark-grey-2;

  a {
    text-decoration: none;
    color: inherit;
  }

  &:hover {
    color: $dark-grey-2;
    background-color: white;
    // border-color: $dark-grey-2;
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0 1px 0 0 #1f1f1f;
  }
}

h1 {
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 10.8rem;
  text-transform: uppercase;
  color: white;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

h3 {
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: $dark-grey;
  font-size: 4.9rem;
}

h4 {
  font-family: cooper-black-std, serif;
  font-style: normal;
  color: $dark-grey-2;
  font-size: 1.5rem;
  text-transform: uppercase;
}

p {
  font-size: 1.3rem;
}
