*,
*::before,
*::after {
  box-sizing: inherit;
}

// Breakpoints
$medium: 53.125em; // 850px

html {
  font-size: 62.5%; // 62.% = 10px
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Arial, Helvetica, sans-serif;
  font-weight: 400;
  box-sizing: border-box;

  &.scroll-lock {
    overflow: hidden;
  }
}

h1 {
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 10.8rem;
  text-transform: uppercase;
  color:white;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

p {
  font-size: 1.3rem;
}
