.header {
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 3vw;
    padding: 3vw 0;

  &__logo {
    margin-right: auto;

    & img {
      max-width: 13.6rem;
    }
  }

  &__links {
    display: flex;

    & li {
      list-style: none;
      padding: 0 .8vw;

      &:last-child {
        padding-left: 0.8vw;
        padding-right: 0;
      }

    }

    & a {
      text-decoration: none;
      color: black;

    }
  }
}
