.header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;

  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 3vw;
  padding: 3vw 0;
  position: relative;
  z-index: 2;

  &__logo {
    margin-right: auto;

    & img {
      max-width: 13.6rem;
    }
  }

  &__links {
    display: flex;
    font-size: 1.4rem;

    & li {
      list-style: none;
      padding: 0 0.8vw;
      // text-shadow: 1px 1px 1px white;
      // background-color: rgba(255, 255, 255, .8);

      &:last-child {
        padding-left: 0.8vw;
        padding-right: 0;
      }
    }

    & a {
      text-decoration: none;
      color: black;
      transition: .2s;

      &:hover {
        color: white;
        text-shadow: 1px 1px 8px black;
      }
    }
  }
}
