.order {
  .content {
    display: grid;
    grid-template-columns: [ct-start-cl] 1fr [ct-end-cl hp-start-cl] 1fr [hp-end-cl];
    grid-template-rows: [ct-start-row hp-start-row] 1fr [ct-end-row hp-end-row];
    text-align: center;
    margin-top: 0;

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: [ct-start-cl hp-start-cl] 1fr [ct-end-cl hp-end-cl];
      grid-template-rows: [ct-start-row] min-content [ct-end-row hp-start-row] min-content [hp-end-row];
    
      .button {
        font-size: 1.2rem;
      }
    }
  }

  & h1 {
    margin: 0;
  }

  & h3 {
    margin: 1.7rem;
    font-size: 2.55vw;
    font-weight: bold;

    @media only screen and (max-width: $bp-small) {
      font-size: 4.9rem;
    }
  }
  & b {
    font-size: 1.3rem;
  }

  & p {
    margin: 0;
  }

  &__address {
    padding-bottom: 2.9rem;
  }

  &__button-container {
    margin-top: 1rem;
    margin-bottom: 5rem;
  }

  &__chinatown {
    grid-column: ct-start-cl / ct-end-cl;
    grid-row: ct-start-row / ct-end-row;
    display: flex;
    flex-direction: column;
    align-items: center;

    & img {
      margin-top: 12rem;
      max-width: 65%;
    }
  }

  &__highland-park {
    grid-column: hp-start-cl / hp-end-cl;
    grid-row: hp-start-row / hp-end-row;
    display: flex;
    flex-direction: column;
    align-items: center;

    & img {
      margin-top: 12rem;
      max-width: 65%;

      @media only screen and (max-width: $bp-small) {
        margin-top: 0rem;
      }
    }
  }
}
